#
# Copyright 2021-2025 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

include:
  - local: .gitlab/ci-shared/docker.yml

stages:
  - publish

build-and-publish:
  stage: publish
  extends: .docker-builder
  rules:
    - if: $ON_MR
  variables: &image_variables
    NAME: buildkit-cli
    CONTEXT: .gitlab/ci/buildkit-cli
    VERSION: ${BUILDKIT_CLI_VERSION}
    BUILD_ARGS: BUILDKIT_CLI_VERSION=${BUILDKIT_CLI_VERSION}
    MULTI_ARCH_BUILD: "true"
    MODE: publish
  parallel:
    matrix:
      - PLATFORM: ["arm64", "amd64"]

docker manifest:
  extends: .docker manifest
  image: ${CI_REGISTRY_IMAGE}/buildkit-cli:latest
  variables:
    <<: *image_variables
  needs:
    - job: build-and-publish
      optional: false

docker manifest latest:
  extends: docker manifest
  script:
    - |
      docker manifest create \
        ${CI_REGISTRY_IMAGE}/${NAME}:latest \
        --amend ${CI_REGISTRY_IMAGE}/${NAME}:${VERSION}-amd64 \
        --amend ${CI_REGISTRY_IMAGE}/${NAME}:${VERSION}-arm64
      docker manifest push ${CI_REGISTRY_IMAGE}/${NAME}:latest
